
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.favicon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box; 
    font-family: "Poppins", Arial, serif;
}

:root{
    /* CSS COLOR VARIABLES */
    --primary-color:white;
    --secondary-color:#0A192F;
    --bg1:#112240;
    --bg2:#1A2b42;
    --other-color:#887575;
    --brighter-color: #BDC4FF;
    --bright-color:#D14040;
    --dark-color:rgb(32, 32, 32);
    --darker-color:black;
    --face-color:#75D093;

    /* CSS FONT SIZE VARIABLES */
    --font1:0.5em;
    --font2:1em;
    --font3:1.5em;
    --font4:2em;
    --font5:2.5em;
    --font6:3em;

   


}

html{
    scroll-behavior: smooth;
    overflow: scroll;
    scrollbar-width: none;
}

body button{
    cursor: pointer;
}



.about-header{
    width: 100vw;
    height: 15vh;
    display: grid;
    place-items: center;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0px;
    z-index: 999;
}

.about-header-content{
    width: 90vw;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.about-logo img{
    width: 80px;
    height: 80px;
}

.about-nav a{
    color: var(--primary-color); margin-left: 40px;
    font-size: var(--font2);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s linear;
    
}

/* Nav hover */
.about-nav a:hover{
    text-decoration-color: var(--brighter-color);
}

.about-header-btn button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--brighter-color);
    color: var(--secondary-color);
    transform: scale(1);
    transition: transform 0.5s ease;
}

/* Nav button hover */
.about-header-btn button:hover{
    transform: scale(1.5);
}

.menu-header{
    display: none;
}

#hero{
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: center;
    background-color: var(--bg1);
    transform: translateX(-100);
    transition: trasform 0.3s ease-out;
}

.hero-content{
    width: 95vw;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

.hero-content1{
    width: 90vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: red; */
}

.hero-dots1{
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    left: 0px;
    /* background-color: black; */
}


.hero-dots-row{
    width: 180px;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
}
.hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.hero-body{
    width: 50vw;
    height: 35vh;
    position: absolute;
    top: 100px;
    text-align: center;
    color: var(--primary-color);
    /* background-color: palevioletred; */
}

.hero-body h1{

    font-size: var(--font6);
}

.hero-body h1 span{
    background-color: var(--bright-color);
}

.hero-body p{
    font-weight: 600;
}

.hero-body button{
    width: 150px;
    height: 50px;
    font-size: var(--font2);
    background-color: var(--brighter-color);
    color: var(--bg2);
    border-radius: 5px;
    border: none;
    margin: 10px;
    transform: scale(1);
    transition: transform 0.5s ease, background-color 0.5s ease-in, color 0.1s ease;
}

/* hero btn 1 hover */
.hero-body button:hover{
    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--brighter-color);
    color: var(--brighter-color);
}



.hero-body .hero-btn2{
    width: 120px;
    background-color: transparent;
    color: var(--brighter-color);
    border: 2px solid var(--brighter-color);
    border-radius: 5px;
}

.hero-body .hero-btn2:hover{
    background-color: var(--brighter-color);
    color: var(--bg1);
}




.hero-content2{
    width: 72vw;
    height: 50vh;
    display: flex;
    gap: 20PX;
    z-index: 1;
    margin-top: -150px;
    position: relative;
    /* background-color: pink; */
}

.hero-content2 img{
    border-radius: 5px;
}

.hero-content2 .hero-img2{
   margin-top: 50px;
}



/* about impact section css style */
#about-imact{
    width: 100vw;
    height: 200vh;
    display: grid;
    place-items: center;
    /* margin-top: 180px; */
    background-color: var(--bg2);
    color: var(--primary-color);
}

.about-impact-content{
    width: 70vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    /* background-color: aqua; */
}

.impact-content1{
    width: 70vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* background-color: red; */
}

.about-impact-content h2{
    font-size: var(--font5);
    text-align: center;
}

.impact-content1 h3{
    font-size: var(--font4);
}

.impact-content1 h3 span{
    color: var(--brighter-color);
}

.impact-content1 h3 .plus{
    color: var(--face-color);
}

.impact-content1 p{
    font-size: var(--font2);
}

/* impact content two css style */
.impact-content-2{
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    background-color: var(--bg1);
}

.impact-content-2 h2{
    font-size: var(--font5);
    font-weight: 400;
    margin-top: 70px;
}

.impact-content-2 img{
    margin-top: 20px;
    border-radius: 5px;
    margin: 20px 0px;

}

.impact-content-2 button{
    width: 150px;
    height: 50px;
    font-size: var(--font2);
    background-color: var(--brighter-color);
    color: var(--bg2);
    border-radius: 5px;
    border: none;
    margin: 10px;
    transform: scale(1);
    transition: transform 0.5s ease, background-color 0.5s ease-in, color 0.1s ease;
}

.impact-content-2 button:hover{
    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--brighter-color);
    color: var(--brighter-color);
}

.impact-content-2 .btn2{
    width: 120px;
    background-color: transparent;
    color: var(--brighter-color);
    border: 2px solid var(--brighter-color);
    border-radius: 5px;
}

.impact-content-2 .btn2:hover{
    background-color: var(--brighter-color);
    color: var(--bg2);
}


/* about values css stylings */
#about-values{
    width: 110vw;
    height: 150vh;
    display: grid;
    place-items: center;
    /* margin-top: 280px; */
    background-color: var(--bg2);
    color: var(--primary-color);

}

.values-content{
    width: 90vw;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* background-color: palegoldenrod; */
}

.values-text{
    width: 70vw;
    height: 70px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* background-color: red; */
}

.values-text h2{
    font-size: var(--font4);
}

.values-text p{
    width: 350px;
    font-size: var(--font2);
}

/* VALUES LEFT DOTS CSS STYLING */
.values-dots1{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    /* background-color: black; */
}

.hero-dots-row{
    width: 200px;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
}

.values-dots1 .hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--face-color);
    border-radius: 50%;
}


.value-cards{
    width: 71vw;
    height: 610px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    z-index: 1;
    /* background-color: aqua; */
}

.value-cards p{
    font-weight: 300;
}

.value-cards1{
    width: 310px;
    height: 610px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(1, 310px);
}

.value-cards2{
    width: 310px;
    height: 610px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(1, 310px);
    margin-top: 25px;
}


.value-cards3{
    width: 310px;
    height: 610px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(1, 310px);
    margin-top: 50px;
}

.value-card{
    display: grid;
    place-items: center;
    background-color: var(--bg1);
    border: 2px none;
    border-radius: 5px;
    height: 305px;
    padding: 10px;

}



/* VALUES RIGHT DOTS CSS STYLING */
.values-dots2{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
    /* background-color: black; */
}

.hero-dots-row{
    width: 200px;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
}

.values-dots2 .hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--face-color);
    border-radius: 50%;
}


/* MEDIA FEEDBACK CSS STYLE CODE */
#media-feedback{
    width: 100vw;
    height: 130vh;
    display: grid;
    place-items: center;
    background-color: var(--bg1);
}

.feedback-content{
    width: 90vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: palevioletred; */
   
}

.feedback-text{
    width: 70vw;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* background-color: gray; */
}

.feedback-text h2{
    color: var(--brighter-color);
    font-size: var(--font4);
}

.feedback-text p{
    width: 430px;
    color: var(--brighter-color);
}

.feedback-text button{
    width: 150px;
    height: 50px;
    font-size: var(--font2);
    background-color: var(--brighter-color);
    color: var(--bg1);
    border-radius: 5px;
    border: none;
    margin: 10px;
    transform: scale(1);
    transition: transform 0.5s ease, background-color 0.5s ease-in, color 0.1s ease;
}

.feedback-text button:hover{
    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--brighter-color);
    color: var(--brighter-color);
}

.feedback-cards{
    width: 70vw;
    height: 380px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(360px);
    column-gap: 20px;
    margin-top: 50px;
    z-index: 1;
    /* background: green; */
}

.feedback-card{
    width: 300px;
    height: 380px;
    /* border: 2px solid var(--bg2); */
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.feedback-card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.feedback-card h3, p{
    color: var(--primary-color);
    margin: 0px 10px 0px 10px;
}

.feedback-dots{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    left: 0px;
    bottom: -10px;
    /* background-color: black; */
}

.feedback-dots .hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--brighter-color);
    border-radius: 50%;
}

/* TEAM CSS STYLE ON ABOUT */
#about-team{
    width: 100vw;
    height: 185vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
    position: relative;
    background-color: var(--bg2);
}


.team-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 170vh;
    text-align: center;
    margin-top: 50px;
    color: white;
    /* background-color: red; */
}


.team-content h2{
    font-size: var(--font4);
}

.team-content p{
    width: 50%;
    font-size: var(--font2);
}

.team-members{
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px 0px 20px 0px;
    /* background-color: palevioletred; */
}


.members{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: aqua; */
}

.members .member-img{
    width:315px;
     height:300px;
}
.members img{
    border-radius: 5px;
}

.members .team-media{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 0 0 5px var(--other-color); */
    margin: -30px 0px 0px 60px;
    background-color: var(--bg2);
    border-radius: 5px;
}

.members h3{
    padding-left: 20px;
}

.members p{
    width: 100%;
    padding-left: 10px;
}

.team-content button{
    width: 150px;
    height: 50px;
    font-size: var(--font2);
    background-color: var(--brighter-color);
    color: var(--bg2);
    border-radius: 5px;
    border: none;
    margin: 10px;
    transform: scale(1);
    transition: transform 0.5s ease, background-color 0.5s ease-in, color 0.1s ease;
}

.team-content button:hover{
    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--brighter-color);
    color: var(--brighter-color);
}


.team-dots1{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    left: 0px;
    bottom: -70px;
    /* background-color: black; */
}

.team-dots1 .hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.team-dots2{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
    /* background-color: black; */
}

.team-dots2 .hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

/* footer section of about page */
#about-footer{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darker-color);
    position: relative;
}

.footer-content{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 80px;
    color: var(--primary-color);
    position: relative;
    /* background-color: green; */
}

.footer-container1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.foter-description{
    width: 500px;
    color: var(--primary-color);
    z-index: 1;
}

.foter-description h2{
    font-size: var(--font2);
    font-weight: 500;
    line-height: 30px;
}

.footer-container1 p{
    font-size: var(--font6);
    font-weight: 600;
}

.footer-container1 p span{
    background-color: var(--bright-color);
}

.footer-content button{
    width: 150px;
    height: 50px;
    font-size: var(--font2);
    background-color: var(--brighter-color);
    color: var(--darker-color);
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.footer-content .footer-btn2{
    background-color: transparent;
    color: var(--brighter-color);
    border-radius: 5px;
    border: 2px solid var(--brighter-color);
    margin-bottom: 10px;
}

.footer-content2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-nav{
    width: 200px;
    /* background-color: orange; */
}

.footer-nav nav a{
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

.footer-media nav a{
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

.news-letter{
    width: 500px;
    /* background-color: orange; */
}
.news-letter h3{
    margin-left: 10px;
}

.news-letter input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    outline: none;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    font-size: var(--font3);


}.news-letter button{
    width: 150px;
    height: 50px;
    font-size: var(--font2);
    background-color: var(--bright-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.footer-content hr{
    width: 120%;
    margin-top: 10px;
    background-color: var(--other-color);
}

.footer-copright{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--font2);
    margin-top: 20px;
    margin-top: 20px;
}


.footer-copright{
    font-weight: 200;
}
.footer-dots1{
    width: 200px;
    height: 180px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    left: 0px;
    top: -40px;
    /* background-color: white; */
}



.footer-dots1 .hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--brighter-color);
    border-radius: 50%;
}

.footer-dots2{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: absolute;
    right:0px;
    bottom: -15px;
    /* background-color: black; */
}

.footer-dots2 .hero-dots-row span{
    display: grid;
    width: 10px;
    height: 10px;
    background-color: var(--brighter-color);
    border-radius: 50%;
}